/* stylelint-disable block-no-empty */

.inner_usual_class {
    display: block;
}

.usual_class {
    display: block;

    .inner_usual_class {
        display: block;
    }

    .inner_empty_class {

    }
}

.empty_class {

}
