/* stylelint-disable block-no-empty, selector-max-id, no-descending-specificity */

#my-id,
.usual_class {
    display: block;

    .inner_usual_class {
        display: block;
    }

    &.connected_class,
    .inner_usual_class {
        display: block;
    }

    .inner_empty_class {

    }
}

.empty_class {

}
